<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar pl-5 text-success text-weight-bold" href="/admin/"><h4><b>Santa Grinch's Gift Shop</b></h4></a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><h5>Products<span class="sr-only">(current)</h5></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders"><h5>Orders</h5></a>
                </li>
            </ul>
        </div>
    </nav>
</header>