<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Santa Grinch's Gift Shop</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="mainpage">
	<div th:replace="fragments/header :: header"></div>

	<!-- Begin page content -->
    <main role="main" class="container pt-5">
		<img class="img mt-5" style="margin-left:-30;" src="img/title.png">

     	<div class="container text-center">
  			<div class="row">
    			<div class="col">
					<div class="card p-1" style="width: 18rem;">
						<div class="snowy">
							<img class="card-img-top" src="img/products/product0.png">	
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Prezent</h5>
    						<p class="card-text">Niespodzianka</p>
    						<a href="#" class="btn btn-success">50zł</a>
  						</div>
					</div>	
				</div>


    			<div class="col"><div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product1.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Ciepłe zimowe skarpety</h5>
    						<p class="card-text">Na zimowe wieczory</p>
    						<a href="#" class="btn btn-success">100zł</a>
  						</div>
					</div>	
				</div></div>
    			<div class="col"><div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product2.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Ozdoby choinkowe</h5>
    						<p class="card-text">Do stworzenia świątecznego nastroju</p>
    						<a href="#" class="btn btn-success">200zł</a>
  						</div>
					</div>	
				</div></div>
    			<div class="w-100"></div>
    			<div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product3.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Piernikowe wypieki</h5>
    						<p class="card-text">Na osłodę zimowych dni</p>
    						<a href="#" class="btn btn-success">50zł</a>
  						</div>
					</div>	
				</div>
				
    			<div class="col"><div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product4.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Kula śniegowa</h5>
    						<p class="card-text">Jako ciekawa ozdoba domu</p>
    						<a href="#" class="btn btn-success">100zł</a>
  						</div>
					</div>	
				</div></div>
    			<div class="col"><div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product5.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Ciepły sweter</h5>
    						<p class="card-text">Dla zmarźluchów</p>
    						<a href="#" class="btn btn-success">200zł</a>
  						</div>
					</div>	
				</div></div>
    			<div class="w-100"></div>
    			<div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product0.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Paczka-niespodzianka</h5>
    						<p class="card-text">Tajemnicza zawartość</p>
    						<a href="#" class="btn btn-success">50zł</a>
  						</div>
					</div>	
				</div>
    			<div class="col"><div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product0.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Kolorowy podarek</h5>
    						<p class="card-text">Każdy zasługuje na prezent</p>
    						<a href="#" class="btn btn-success">100zł</a>
  						</div>
					</div>	
				</div></div>
    			<div class="col"><div class="col">
					<div class="card p-1" style="width: 18rem;">
  						<div class="snowy">
							  <img class="card-img-top" src="img/products/product0.png">
						</div>
  						<div class="card-body">
    						<h5 class="card-title">Makaron</h5>
    						<p class="card-text">Otóż kluski</p>
    						<a href="#" class="btn btn-success">200zł</a>
  						</div>
					</div>	
				</div></div>
  			</div>
		</div>

    </main>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>